src-gen
xtend-gen
bin
!/**/.gitkeep

*.log
/**/*.log

**/.DS_Store

**/trace_cache.bin

**/problem.lp

ihtcvirtualrunner/scripts/gips-ihtc.jar

ihtcvirtualrunner/scripts/ihtc2024_competition_instances/

*.ilp
